testdata/*.asciiproto
testdata/*.ll
testdata/*.s
testdata/fib.quo
testdata/fib
testdata/assign
testdata/string
testdata/ref_mode
testdata/simple_class_fields
testdata/methods
testdata/loop
testdata/break

